body {
  margin: 0;
  padding: 0;
  font-family: 'Droid Sans', arial;
  font-size: 13px;
}
.wrap {
  margin: 50px auto;
  max-width: 960px;
  width: 90%;
}
.cal-field {
  border: 1px solid #ccc;
  padding: 10px 15px;
  font-size: 16px;
  font-family: 'Droid Sans', arial;
}
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
  outline: none;
}